*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #000;
    color: #fff
}

.bgimg{
    height: 100vh;
    width: 100vw;
    /* background-image: url("netflix.jpg"); */
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)),url("netflix.jpg");
    /* padding: 10px 8%; */
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#pan{
    height: 165px;
    width: 165px;
    margin-top: -45px;
    margin-left: 145px;
    padding: 10px 0;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 420px;
    height: 550px;
    border: 0px solid #fff;
    border-radius: 2px;
    background: linear-gradient(rgba(27, 26, 26, 0.9), rgb(3, 3, 3));
    position: relative;
    top:-550px;
    left: 470px;
}

#rim{
    height: 34px;
    width: 128px;
    background-color: rgb(24, 22, 22); 
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    /* margin-right: 140px; */
    padding-top: -100px;
    position: relative;
    top: 60px;
    left: 90px;
    border: 1px solid rgb(128, 126, 126);
}

#hope{
    position: relative;
    top: -35px;
    left: -1px;
}

#emil{
    position: relative;
    top: -25px;
    left: -1px;
    height: 48px;
    width: 278px;
    background-color: rgb(10, 9, 9);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    border: 1px solid rgb(165, 162, 162);
    padding-left: 10px;
    font-size: 14px;
    font-weight:600;
}

#password{
    position: relative;
    top: -10px;
    left: -1px;
    height: 48px;
    width: 278px;
    background-color: rgb(10, 9, 9);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    border: 1px solid rgb(165, 162, 162);
    padding-left: 10px;
    font-size: 14px;
    font-weight:600;
}

/* #login{
    position: relative;
    top: -50px;
    left: -1px;
    height: 48px;
    width: 278px;
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    border: 1px solid rgb(165, 162, 162);
    font-size: 14px;
    font-weight:600;
    margin-top: 150px;
} */

#signin{
    position: relative;
    top: -1px;
    left: -1px;
    height: 40px;
    width: 292px;
    background-color: rgb(156, 7, 7);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    /* border: 1px solid rgb(165, 162, 162); */
    padding-left: 10px;
    font-size: 14px;
    font-weight:600;
    margin-top: 10px;
    cursor: pointer;
}

#or{
    position: relative;
    top: 1px;
    text-align: center;
    color: rgb(165, 162, 162);
    font-size: 15px;
    font-weight:400;
}

#code{
    position: relative;
    top: 0px;
    left: -1px;
    height: 40px;
    width: 292px;
    background-color: rgb(73, 72, 72);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 14px;
    font-weight:600;
    cursor: pointer;
}

#and{
    position: relative;
    top: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight:500;
    cursor: pointer;
}

.remember{
    position: relative;
    top: 40px;
    left: -1px;
    color: rgb(253, 253, 253);
    font-size: 16px;
    font-weight:300;
}

.help{
    position: relative;
    top: 65px;
    left: -1px;
    color: rgb(196, 184, 184);
    font-size: 16px;
    font-weight:300;
}

#num{
    text-decoration: none;
    color: white;
}

#num:hover{
    text-decoration: underline;
}

#and:hover{
    text-decoration: underline;
}

#signin:hover{
    background-color: rgb(190, 12, 12);
}

#code:hover{
    background-color: rgb(73, 72, 72);
}

#lim{
    position: relative;
    top: 102px;
    left: -1px;
    color: rgb(121, 117, 117);
    font-size: 13px;
    font-weight:100;
    /* text-align: center; */
}

.footer-list{
    padding: 10px 8%;
    font-size: 13px;
    width: 800px;
    position: relative;
    top: 60px;
    

}

.footer-list-item{
    font-size: 13px;
    font-weight:100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-list-items{
    font-size: 13px;
    font-weight:100;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    line-height: 62px;
}

#mum{
    color: rgb(201, 193, 193);
    font-size: 13px;
    font-weight:100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    left: 105px;
}

.footer-content{
    color: rgb(121, 117, 117);
    font-size: 10px;
    font-weight:100;
}

.footer{
    background-color: rgb(0, 0, 0);
    padding: 10px 8%;
    /* color: rgb(143, 139, 139); */
    font-size: 13px;
    font-weight:100;
    position: relative;
    top: -250px;
}

#fins:hover{
    text-decoration: underline;
}