*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #000;
    color: #fff
}

.bgimg{
    height: 100vh;
    width: 100vw;
    /* background-image: url("netflix.jpg"); */
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.7)),url("netflix.jpg");
    /* padding: 10px 8%; */
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#pan{
    height: 165px;
    width: 165px;
    margin-top: -45px;
    margin-left: 145px;
    padding: 10px 0;
}

#bin{
    height: 34px;
    width: 77px;
    background-color: rgb(226, 11, 11);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-right: 145px;
    position: relative;
    top: -20px;
    /* margin-top: -20px; */
    padding-top: -100px;
    margin-left: 15px;
    cursor: pointer;
}

#sim{
    height: 34px;
    width: 124px;
    background-color: rgb(26, 18, 18); 
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    /* margin-right: 140px; */
    padding-top: -100px;
    padding-left: 10px;

    
}

/* #sim:hover{
    background-color: blue;
} */

#bin:hover{
    background-color: rgb(179, 14, 14);
    transition-duration: 0.21s;
}

#pan:hover{
    cursor: pointer;
}

#pin{
    border-radius: 5px;
    border: none;
    height: 36px;
    width: 126px;
    background-color: rgb(128, 126, 126);
    position: relative;
    top: -20px;
    margin-top: -20px;
}

#get{
    border-radius: 5px;
    border: none;
    height: 53px;
    width: 194px;
    background-color: rgb(179, 14, 14);
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    top: 3px;
    cursor: pointer;
}
.header-content{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* height: 100vh;
    width: 100%; */
    text-align: center;
    margin-top: 55px;
}
h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

h3{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
}

#email{
    height: 50px;
    width: 390px;
    margin-right: 9px;
    border-radius: 5px;
    background-color: rgb(31, 26, 26);
    color: rgb(243, 240, 240);
    border: none;
    padding-left: 13px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(128, 126, 126);
}

#trend{
    font-size: 25px;
    font-weight:700;
    position: relative;
    top: 45px;
    left: 133px;
}

.line{
    position: relative;
    height: 1px;
    width: 100%px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(209, 55, 132);
}

.pink{
    position: absolute;
    bottom: 0;
    width: 65%;
    height: 2px;
    background: linear-gradient(to right, #9e0652, rgb(187, 11, 70));
/* box-shadow: 0px 0px 200px 10px rgba(255,0,128,0.9); */
}

.tim{
    position: absolute;
    background: linear-gradient(to right, #9e0652, rgb(153,4,53));
    bottom: 0;
    width: 45%;
    height: 3px;
    box-shadow: 0px 0px 200px 20px rgba(0, 47, 255, 0.959); 
}

#glob{
    position: relative;
    left: 133px;
    top: 40px;
    height: 35px;
    width: 88px;
    color: white;
    background-color:rgb(26, 25, 25);
    border-radius: 3px;
    border: none;
    border: 1px solid rgb(128, 126, 126);
    padding-left: 12px;
    font-size: 15px;
    font-weight: bold;
}

#show{
    position: relative;
    left: 155px;
    top: 40px;
    height: 35px;
    width: 120px;
    color: white;
    background-color:rgb(26, 25, 25);
    border-radius: 3px;
    border: none;
    border: 1px solid rgb(128, 126, 126);
    padding-left: 12px;
    font-size: 15px;
    font-weight: bold;
}

#imgg{
    display: flex;
    flex-direction: row;

}

#img1{
    position: relative;
    top: 68px;
    left: 165px;
    height: 250px;
    width: 176px;
    border-radius: 7px;
    border: 1px solid rgb(10, 0, 0);
    cursor: pointer;
    display: inline-block;
}

#img3{
    position: relative;
    top: 68px;
    left: 165px;
    height: 250px;
    width: 178px;
    border-radius: 7px;
    border: 1px solid rgb(10, 0, 0);
    margin-left: 40px;
    cursor: pointer;
}

#img4{
    position: relative;
    top: 68px;
    left: 165px;
    height: 250px;
    width: 178px;
    border-radius: 7px;
    border: 1px solid rgb(10, 0, 0);
    margin-left: 40px;
    cursor: pointer;
}

#img5{
    position: relative;
    top: 68px;
    left: 165px;
    height: 250px;
    width: 178px;
    border-radius: 7px;
    border: 1px solid rgb(10, 0, 0);
    margin-left: 40px;
    cursor: pointer;
}


#img2{
    position: relative;
    top: 68px;
    left: 165px;
    height: 250px;
    width: 178px;
    border-radius: 7px;
    border: 1px solid rgb(10, 0, 0);
    margin-left: 40px;
    cursor: pointer;
}

#join{
    font-size: 25px;
    font-weight:700;
    position: relative;
    top: 145px;
    left: 133px;
}


.P1{
    height: 310px;
    width: 235px;
    border-radius: 5px;
    border: 1px solid #333;
    background: linear-gradient(to bottom, rgba(21, 21, 53, 0.911), rgba(24, 0, 24, 0.801));
    position: relative;
    top: 150px;
    left: 133px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#pq{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 25px;
    left: 10px;
    line-height: 26px;
}

#er{
    font-size: 15px;
    font-weight: 300;
    color: rgb(180, 158, 175);
    position: relative;
    top: 10px;
    left: 10px;
    line-height: 20px;
}

.P2{
    height: 310px;
    width: 235px;
    border-radius: 5px;
    border: 1px solid #333;
    background: linear-gradient(to bottom, rgba(21, 21, 53, 0.911), rgba(24, 0, 24, 0.801));
    position: relative;
    top: -162px;
    left: 360px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 40px;
}

.P3{
    height: 310px;
    width: 235px;
    border-radius: 5px;
    border: 1px solid #333;
    background: linear-gradient(to bottom, rgba(21, 21, 53, 0.911), rgba(24, 0, 24, 0.801));
    position: relative;
    top: -474px;
    left: 630px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 40px;
}

.P4{
    height: 310px;
    width: 235px;
    border-radius: 5px;
    border: 1px solid #333;
    background: linear-gradient(to bottom, rgba(21, 21, 53, 0.911), rgba(24, 0, 24, 0.801));
    position: relative;
    top: -786px;
    left: 900px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 40px;
}

#jon{
    font-size: 25px;
    font-weight:700;
    position: relative;
    top: 195px;
    left: 133px;
    position: relative;
    top: -730px;
}

/* #join{
    font-size: 25px;
    font-weight:700;
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -770px;
}

#join{
    font-size: 25px;
    font-weight:700;
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -770px;
}

#join{
    font-size: 25px;
    font-weight:700;
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -770px;
}

#join{
    font-size: 25px;
    font-weight:700;
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -770px;
}

#q1{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 25px;
    left: 10px;
    line-height: 26px;
}

#a1{
    font-size: 15px;
    font-weight: 300;
    color: rgb(180, 158, 175);
    position: relative;
    top: 10px;
    left: 10px;
    line-height: 20px;
}

/* #h1{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 25px;
    left: 10px;
    line-height: 26px;
} */ 

.faq{
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -730px;
    height: 85px;
    width: 1070px;
    background-color: rgb(37, 36, 36);
}

#q1{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 26px;
    padding-left: 20px;
}


.feq{
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -720px;
    height: 85px;
    width: 1070px;
    background-color: rgb(37, 36, 36);
}

#q2{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 26px;
    padding-left: 20px;
}

.fiq{
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -710px;
    height: 85px;
    width: 1070px;
    background-color: rgb(37, 36, 36);
}

#q3{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 26px;
    padding-left: 20px;
}

.foq{
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -700px;
    height: 85px;
    width: 1070px;
    background-color: rgb(37, 36, 36);
}

#q4{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 26px;
    padding-left: 20px;
}


.fuq{
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -690px;
    height: 85px;
    width: 1070px;
    background-color: rgb(37, 36, 36);
}

#q5{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 26px;
    padding-left: 20px;
}

.fqq{
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -680px;
    height: 85px;
    width: 1070px;
    background-color: rgb(37, 36, 36);
}

#q6{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 26px;
    padding-left: 20px;
}

#jin{
    font-size: 16px;
    font-weight:400;
    position: relative;
    top: 135px;
    left: 410px;
    position: relative;
    top: -640px;
}

#emeil{
    height: 50px;
    width: 530px;
    margin-right: 9px;
    border-radius: 5px;
    background-color: rgb(31, 26, 26);
    color: rgb(243, 240, 240);
    border: none;
    padding-left: 13px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 1px solid rgb(128, 126, 126);
    position: relative;
    top: -635px;
    left: 295px;
}

#gat{
    border-radius: 5px;
    border: none;
    height: 53px;
    width: 194px;
    background-color: rgb(179, 14, 14);
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    /* top: 3px; */
    cursor: pointer;
    position: relative;
    top: -633px;
    left: 290px;
}

.membership{
    position: relative;
    top: 40px;
}

.footer{
    position: relative;
    top: 115px;
    left: 133px;
    position: relative;
    top: -610px;
    height: 0px;
    width: 1070px;
}

.foot{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 26px;
    padding-left: 20px;
}

.foot1{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    top: 30px;
    left: -30px;
    line-height: 36px;
    padding-left: 20px;
    display: inline-block;
}

.foot2{
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: 30px;
    left: 10px;
    line-height: 33px;
    padding-left: 20px;
    color: rgb(243, 237, 242);
}

.foot3{
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -102px;
    left: 280px;
    line-height: 33px;
    padding-left: 20px;
    color: rgb(243, 237, 242);
    text-decoration: none;
    color: pink;
}

.foot4{
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -234px;
    left: 560px;
    line-height: 33px;
    padding-left: 20px;
    color: rgb(243, 237, 242);
}

.foot5{
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: -366px;
    left: 840px;
    line-height: 33px;
    padding-left: 20px;
    color: rgb(243, 237, 242);
}

#quess{
    font-size: 15px;
    font-weight: 300;
    position: relative;
    top: 135px;
    left: -30px;
    position: relative;
    top: 60px;
    padding-bottom: 30px;
    color: rgb(190, 178, 188);
}

/* #tin{
    border-radius: 5px;
    border: none;
    height: 36px;
    width: 126px;
    background-color: rgb(128, 126, 126);
    position: relative;
    top: -20px;
    margin-top: -20px;
} */

#rim{
    height: 34px;
    width: 128px;
    background-color: rgb(26, 18, 18); 
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    /* margin-right: 140px; */
    padding-top: -100px;
    padding: 5px;
    position: relative;
    top: -215px;
    left: -1px;
    border: 1px solid rgb(128, 126, 126);
}

#fot{
    font-size: 14px;
    font-weight: 400;
    color: rgb(179, 174, 177);
    position: relative;
    top: 10px;
    left: 1px;
    line-height: 20px;
    position: relative;
    top: -195px;
}